body {
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    border: 2px solid black;
    padding: 10px;
}

h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

img {
    width: 600px;
}

p.info {
    text-align: right;
    background-color: lightgray;
    padding: 10px;
    font-weight: bold;
    border: 1px dotted black;
}