body {
    background-image: url(hatter.png);
    font-family: sans-serif;
    font-size: 110%;
    color: #444444;
}

#tartalom {
    padding: 2px;
    background-color: white;
    width: 1100px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    
    margin: 0 auto 0 auto;
}

h1,
h2 {
    font-family: sans-serif;
    color: #FC4842;
}

h2 {
  
    clear: left;
    font-style: italic;
    background-color: #CCCCCC;
    padding: 20px;
}

p {
    text-align: justify;
}

.bal {
    float: left;
    border: none;
    padding: 0px;
    padding-right: 5px;
    
}

.kozep {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
   
}

table,
th,
td {
    border-collapse: collapse;
    margin: auto;
    border: 1px solid black;
    table-layout: fixed; 
}

td {
    font-size: 120%;
    font-weight: bold;
    width: 130px;
    text-align: center;
}

th {
    padding: 2px;
    background-color: #CCCCCC;
    color: #FC4842;
    padding-top: 10px;
    padding-bottom: 10px;
}
a{
    color: black;
}